<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <title>about page</title>
</head>
<body>
            <div class="container">
    <nav class="main-nav">
        <ul class="contact-info">
            <li><i class="fa fa-phone-square" aria-hidden="true"> </i>+234705644176</li>
            <li><i class="fa fa-envelope" aria-hidden="true"> </i>bammycollege@gmail.com</li>
            <li><i class="fa fa-clock-o" aria-hidden="true"> </i>School hours: 8:00AM - 3:00PM</li>
        </ul>
        <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></i></li>
        </ul>
    </nav>

    <section id="header">
    <nav class="sub-nav">
            <ul class="school-name">
                <li class="logo-container"><img class="logo" src="img/BAMMY LOGO.jpg" alt="school-logo"></li>
            </ul>
            <ul class="nav-menu">
                <li><a href="./index.html">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Portal</a></li>
                <li><a href="/">Events</a></li>
                <li><a href="/">Gallery</a></li>
            </ul>
    </nav>

    <div class="about-text">
        <h1 class="about">About Bammy College</h1>
    <div class="buttons">
        <button class="btn-one"><a href="#about">About US</a></button> &nbsp;&nbsp;
        <button class="btn-one"><a href="#features">Features</a></button> &nbsp;&nbsp;
        <button class="btn-one"><a href="#principal">Principal</a></button>
    </div>
    </div>
    </section>
    <section id="about">
        <div class="about-info">
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Modi asperiores natus totam. Voluptate porro saepe quisquam aliquam, 
            suscipit perspiciatis sit harum, commodi alias non ea, voluptatibus 
            laudantium a necessitatibus laborum libero. Repudiandae tempore 
            distinctio natus beatae ut minus vel dolore eum eius, quam, quia
            inventore velit nulla officia laboriosam recusandae excepturi facere, 
            quos exercitationem veritatis dolorum ex omnis mollitia? Explicabo 
            voluptatum illo a inventore fuga rerum expedita dolorem, eveniet, 
            deleniti architecto sapiente neque? Voluptatibus officia accusamus 
            architecto velit quae maxime quas itaque, adipisci, ab consequatur 
            nesciunt dolorum quam facere veniam, rerum porro eius sit 
            blanditiis libero iste! Nihil, eveniet expedita!</p> 
        </div>
        <div class="about-image">
            <img src="img/DSC_0538.JPG" class="school-image" alt="school-image">
        </div>
    </section>
    <!-- <div class="svg-container"><a href="#features">
    <div class="svg-1"><img src="/img/arrowsvg.png" class="svg-image-1" alt="svg"></div>
    <div class="svg-2"><img src="/img/arrowsvg.png" class="svg-image-2" alt="svg"></div>
    <div class="svg-3"><img src="/img/arrowsvg.png" class="svg-image-3" alt="svg"></div>
    </a></div>     -->
    <section id="features">
    <div class="page-wrapper">
        <div class="post-slider">
            <!-- <h1 class="slider-title">
              Features
            </h1> -->
            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>
            <div class="post-wrapper">
                <div class="post">
                    <img src="img/COMPUTER LAB/DSC_0473.JPG" class="slider-image" alt="blog">
                    <div class="post-info">
                        <h4>Our Computer Lab</h4>
                    </div>
                </div>
                <div class="post">
                        <img src="img/VOLLEYBALL/DSC_0452.JPG" class="slider-image" alt="blog">
                        <div class="post-info">
                            <h4>Volleyball Game</h4>
                        </div>
                    </div>
                <div class="post">
                        <img src="img/TABLE TENNIS/DSC_0498.JPG" class="slider-image" alt="blog">
                        <div class="post-info">
                            <h4>Table Tennis Court</h4>
                        </div>
                    </div>
            <div class="post">
                    <img src="img/CLASSROOM/DSC_0556.JPG" class="slider-image" alt="blog">
                    <div class="post-info">
                        <h4>The Classroom</h4>
                    </div>
                </div>
                <div class="post">
                        <img src="img/EXCURSION PIX/DSC_7924.JPG" class="slider-image" alt="blog">
                        <div class="post-info">
                            <h4>Our Excursion</h4>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    </section>
    <section id="principal">
            <div class="about-image">
                    <img src="img/DSC_0525.JPG" class="school-image" alt="school-image">
                </div>
        <div class="principal-info">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Modi asperiores natus totam. Voluptate porro saepe quisquam aliquam, 
                suscipit perspiciatis sit harum, commodi alias non ea, voluptatibus 
                laudantium a necessitatibus laborum libero. Repudiandae tempore 
                distinctio natus beatae ut minus vel dolore eum eius, quam, quia
                inventore velit nulla officia laboriosam recusandae excepturi facere, 
                quos exercitationem veritatis dolorum ex omnis mollitia? Explicabo 
                voluptatum illo a inventore fuga rerum expedita dolorem, eveniet, 
                deleniti architecto sapiente neque? Voluptatibus officia accusamus 
                architecto velit quae maxime quas itaque, adipisci, ab consequatur 
                nesciunt dolorum quam facere veniam, rerum porro eius sit 
                blanditiis libero iste! Nihil, eveniet expedita!</p> 
            </div>
    </section>

</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="script/about_app.js"></script>
</body>
</html> 