<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/register_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin_style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='img/bammyLogo_register.ico')}}">
    <title>Bammy School | Admin page</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a id="logo" href="index.html"><img src="{{url_for('static',filename='img/bammyLogo_register.jpg')}}" alt="Home"></a>
            <ul>
                <a href="index"><li>Home</li></a>
                <a href="about"><li>About Us</li></a>
                <a href="admin"><li>Portal</li></a>
                <a><li>Events</li></a>
                <a><li>Gallery</li></a>
            </ul>
            <!-- <a class="hamburger">
                <img src="./img/hamburger.png" alt="hamburger">
            </a> -->
        </nav>
        <div id="mask"></div>
        <nav class="sub-nav-bar">
            <!-- <ul>
                <a id="logo" href="index.html">
                    <li><img src="./img/bammyLogo_register.jpg" alt="Home"></li>
                </a>
            </ul> -->
            <div class="nav-overlay">
                <p class="backBtn">BACK</p>
                <li class="active">HOME</li>
                <li><a href="about">ABOUT US</a></li>
                <li>PORTAL</li>
                <li>EVENTS</li>
                <li>GALLERY</li>
                <li><a href="admin_login.html">ADMIN</a></li> 
            </div>
            <div class="hidden-menu menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
          
    </header>
    <main>
        <section class="container">
            <img id="admin-logo" src="{{url_for('static',filename='img/website.png')}}">
            <h3 id="admin-text">Bammy's Information Management System</h3>
            <form id="admin-login" action="admin_login" method="POST">
                <input type="email" name="admin-login__email" id="admin-login__email" class="admin-input" placeholder="Email">
                <input type="password" name="admin-login__password" id="admin-login__password" class="admin-input" placeholder="Password"><br>
                <span id="remember"><input type="checkbox" name="remember-me" id="remember-me"><p id="remember-me-text">Remember me</p><br></span>
                <input type="submit" value="Log In" class="btn btn-submit">
                <a id="admin-forgot-password">Forgot your password?</a>
            </form>
        </section>

    </main>
    <footer>
        <p>&copy; Bammy School 2019</p><br>
    </footer>
    <script src="{{url_for('static',filename='script/admin.js')}}"></script>
    <script src="{{url_for('static',filename='script/app.js')}}"></script>
    <script src="{{url_for('static',filename='script/register_app.js')}}"></script>
</body>
</html>