*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
}
.container {
    width: 100%;
    height: 100%;
    /* css smooth scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
/* section#about,
section#features,
section#principal {
    scroll-snap-align: center;
} */
.main-nav {
    background-color: #679436;
    display: flex;
}
.contact-info {
    flex: 1;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.social-media {
    flex: 0.5;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.contact-info li,
.social-media li {
    display: inline-block;
    padding-right: 4%;
    color: white;
}
.fa {
    padding: 6px;
}
.social-media li .fab{
    color: white;
}
.fab {
    padding: 10px;
}

/* sub nav */

#header {
    height: 100vh;
    background-image: linear-gradient(to right,rgba(44, 49, 9, 0.6),
    rgba(44, 48, 12, 0.6)), url("../img/EXCURSION PIX/DSC_8052.JPG");
    background-size: cover;
    background-position: center;
}
.sub-nav {
    background-color: white;
    display: flex;
    align-items: center;
}
.school-name,
.nav-menu {
    flex: 1;
}
.school-name {
    list-style: none;
}
.nav-menu li {
    display: inline-block;
    padding: 3%;
    list-style: none;
}
.nav-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #679436;
}
.nav-menu {
    padding-right: 8%;
}
.school-name {
    padding-left: 15%;
    font-weight: 700;
    font-size: 1.2rem;
    color: #679436;
    text-transform: uppercase;
}
.logo-container {
    padding: 5px;
}
.logo {
    width: 50px;
    height: 50px;
    border: 2px solid #184115;
    border-radius: 50%;
}

/* Banner info */

.about-text {
    text-align: center;
    margin-top: 15%;
}
.about {
    color: white;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}
.buttons {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.btn-one {
    padding: 1.5%;
    width: 200px;
    border: 3px solid #fff;
    background: white;
}
.btn-one a{
    color: #3b5c18;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-one a:hover{
    background: #3b5c18;
    color: #fff;
}
.btn-one:hover{
    background: #3b5c18;
    color: #fff;
}

/* about */
#about {
    height: 100vh;
    display: flex;
    background-color: #fff;
}
.about-info {
    flex: 1;
    margin-top: 2%;
    padding-top: 25vh;
}
.about-info p {
    font-size: 16px;
    margin-right: 1%;
    margin-left: 20%;
    line-height: 1.7em;
    color: #3b5c18;
}
.about-image {
    flex: 1;
    margin-left: 8%;
    padding-top: 25vh;
    margin-top: 2%;
}
.school-image {
    width:450px;
    border-radius: 5px 100px 60px 250px;
}

/* .svg-image-1 {
    width: 20px;
}
.svg-image-2 {
    width: 30px;
}
.svg-image-3 {
    width: 40px;
}
.svg-1 {
    padding-left: 50%;
}
.svg-2 {
    padding-left: 49.7%;
}
.svg-3 {
    padding-left: 49.4%;
}
.svg-container {
    margin-top: -6%;
    background-color: #fff;
} */

/* features */
#features {
    height: 100vh;
    display: inline-block;
    background-color: #3b5c18;
    width: 100%;
    min-height: 100vh;
    color: white;
}
.post-slider {
    position: relative;
    margin-top: 13.5%;
}
.post-slider .next{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
}
.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 2em;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    font-family: courier-std, monospace;
    font-style: normal;
    font-weight: 400;
    margin: 5px;
}
.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
    color: #fc983a;
    font-family: courier-std, monospace;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
}
.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0 auto; 
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
.post-slider .post-wrapper .post{
    display: inline-block;
    width: 300px;
    margin: 0px 10px;
    height: 300px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}
.post-slider .post-wrapper .post .post-info{
    height: 130px;
    padding: 0px 5px;
}
.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.page-wrapper a:hover {
    color: #964800;
}

.post-info h4{
    color: #3b5c18;
    font-weight: bold;
    padding-top: 8%;
    text-align: center;
    text-transform: uppercase;
}

.fas{
    color: #fff;
}

/* principal */
#principal {
    height: 100vh;
    display: flex;
}
.principal-info {
    flex: 1;
    margin-top: 2%;
    padding-top: 25vh;
}
.principal-info p {
    font-size: 16px;
    margin-left: 1%;
    margin-right: 20%;
    line-height: 1.7em;
    color: #3b5c18;
}
